<html>
<body>
<div style="width: 100%; font-color: red; font-size: 40px; font-weight: bold; text-align: center;">
welcome to ansible {{ package_name }} {{ansible_hostname}} webserver
</div>
</body>
</html>
