## X-Frame-Options is to prevent from clickJacking attack
add_header X-Frame-Options SAMEORIGIN;

## disable content-type sniffing on some browsers.
add_header X-Content-Type-Options nosniff;

## This header enables the Cross-site scripting (XSS) filter
add_header X-XSS-Protection "1; mode=block";

## This will enforce HTTP browsing into HTTPS and avoid ssl stripping attack
add_header Strict-Transport-Security "max-age=31536000; includeSubdomains;";
server_tokens off;


## Size Limits & Buffer Overflows. The size may be configured based on the needs.
client_body_buffer_size  100K;
client_header_buffer_size 1k;
client_max_body_size 100k;
large_client_header_buffers 2 1k;

## Only GET, Post, PUT are allowed. In this case, it does not accept other HTTP method such as HEAD, DELETE, SEARCH, TRACE.
     if ($request_method !~ ^(GET|PUT|POST)$ ) {
         return 444;
     }
