[defaults]
inventory=hosts
deprecation_warnings=False
command_warnings=False
executable = /bin/bash
host_key_checking = False
{% if retry_files_enabled != '' %}
retry_files_enabled = {{ retry_files_enabled }}
{% endif %}
{% if ansible_log_file != '' %}
log_path = {{ ansible_log_file }}
{% endif %}
{% if roles_path != '' %}
roles_path = {{ roles_path }}
{% endif %}

#vault_password_file = /var/vault
